<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Empréstimo</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>
            Biblioteca API
        </h1>
    </header>
    <hr>
    <main>
        <h1>Cadastrar - Empréstimo</h1>
        <form >
            <label for="leitor">Insira o UUID do Leitor</label>
            <input type="text" name="leitor">
            <label for="livro">Insira o UUID do Livro</label>
            <input type="text" name="livro">
            <label for="data_emp">Insira a Data do Empréstimo</label>
            <input type="date" name="data_emp">
            <label for="data_dev">Insira a Data do Devolução</label>
            <input type="date" name="data_dev">

            <button>Cadastrar Empréstimo</button>
        </form>
    </main>
</body>
</html>