<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar - Livros</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>
            Biblioteca API
        </h1>
    </header>
    <hr>
    <main>
        <h1>Listar - Livros</h1>
        <section>
            <p>UUID: </p>
            <p>Título:</p>
            <p>Autor:</p>
            <p>Ano de Lançamento:</p>
            <p>Disponível: </p>
        </section>
    </main>
</body>
</html>