<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Leitor</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>
            Biblioteca API
        </h1>
    </header>
    <hr>
    <main>
        <h1>Cadastrar - Leitor</h1>
        <form >
            <label for="nome">Insira o Nome</label>
            <input type="text" name="nome">

            <button>Cadastrar Leitor</button>
        </form>
    </main>
</body>
</html>